<h2><%= @album.title %></h2>
<h2><%= @album.artist %></h2>
<h3><%= @album.songs %></h3>

<%= link_to "Back", albums_path %>
<%= link_to "Edit", edit_album_path(@album) %>
<%= link_to "Delete", album_path(@album), method: :delete, data: { confirm: "Are you sure?"} %>
